body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main{
    margin-top: 14%;
}
button{
    background-color: rgba(238, 238, 239, 0.058);
    box-shadow:3px 1px 5px 3px  rgba(92, 34, 238, 0.28);
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
}
.main div{
    display: flex;
    gap: 20px;
}